<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,innitial-scale=1.0">
	<meta name="Author" content="Shahriar">
	<title>Admin</title>
	<link rel="stylesheet" type="text/css" href="welcomeStyleSheet.css">
</head>
<body>

	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">Cars</a></li>
		<li><a href="#">Branches</a></li>
		<li><a href="#">Payment</a></li>
		<li><a href="#">History</a></li>
		<li><a href="#">Promotions</a></li>
	</ul>
	<div>
		<h1 class="h1header">Hello Admin!!</h1>
		<p>Your services are really up to the mark</p>
	</div>
</body>
</html>